body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5a53c5;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
